<head>
  <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="../Content/css/styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="../Content/js/character_add.js" Stype="text/javascript"></script>
  <title>"Fun" Fighters</title>
</head>

<h1>NEW FIGHTER</h1><br>

<form action="/confirm_fighter">
  <div id="menuContainer">
    <div class="row">
      <div class="col-xs-6">
        <input id="name" name="name" type="text" maxlength="20" placeholder="NAME"><br><br>
        <span id="pointsRemainingContainer"><span id="pointsRemaining"></span><span id ="pointTextspan"> STAT POINTS REMAINING</span></span>
        <div class="statContainer">
          <div class="row">
            <div class="col-xs-3">
              <h2>HEALTH</h2>
            </div>
            <div class="col-xs-1">
              <img id="health_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="hp">1</span>
            </div>
            <div class="col-xs-1">
              <img id="health_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <h2>MAGIC</h2>
            </div>
            <div class="col-xs-1">
              <img id="magic_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="mp">1</span>
            </div>
            <div class="col-xs-1">
              <img id="magic_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <h2>ATTACK</h2>
            </div>
            <div class="col-xs-1">
              <img id="attack_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="attack">1</span>
            </div>
            <div class="col-xs-1">
              <img id="attack_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <h2>SPEED</h2>
            </div>
            <div class="col-xs-1">
              <img id="speed_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="speed">1</span>
            </div>
            <div class="col-xs-1">
              <img id="speed_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <h2>ACCURACY</h2>
            </div>
            <div class="col-xs-1">
              <img id="accuracy_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="accuracy">1</span>
            </div>
            <div class="col-xs-1">
              <img id="accuracy_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              <h2>LUCK</h2>
            </div>
            <div class="col-xs-1">
              <img id="luck_decrease" src="../Content/UI/left-arrow.png">
            </div>
            <div class="statBox col-md-2">
              <span id="luck">1</span>
            </div>
            <div class="col-xs-1">
              <img id="luck_increase" src="../Content/UI/right-arrow.png">
            </div>
          </div>
        </div>
      </div>
      <div id="rightContainer" class="col-xs-6">
        <select id="imageSelection">

          <option>Masked Murderer</option>
          <option>Happy Kid</option>
        </select>
        <div id="headshot"><img src="../Content/images/7.png"></div>
        <div id="statOutput">
          <div class="row">
            <div class="col-xs-6">
              <span>HP: <span><span id="hpOutput">100</span><span> / <span id="hpOutput">100</span>
            </div>
            <div class="col-xs-6">
              <span>MP: <span><span id="mpOutput">100</span><span> / <span id="hpOutput">100</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <img src="../Content/UI/attack.png">
            </div>
            <div class="col-xs-2">
              <span id="attackOutput">100</span>
            </div>
            <div class="col-xs-1">
              <img src="../Content/UI/speed.png">
            </div>
            <div class="col-xs-2">
              <span id="speedOutput">100</span>
            </div>
            <div class="col-xs-1">
              <img src="../Content/UI/accuracy.png">
            </div>
            <div class="col-xs-2">
              <span id="accuracyOutput">100</span>
            </div>
            <div class="col-xs-1">
              <img src="../Content/UI/luck.png">
            </div>
            <div class="col-xs-2">
              <span id="luckOutput">100</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button id="submitButton" type="submit">ADD FIGHTER</button>
</form>
