<h1> Brands </h1>

<ul>
@{ if (Model.Count != null) {
  @foreach (var brands in Model) {
     <li><a href="/brand/@brands.GetId()">@brands.GetName()</a> <a href="/brands/edit/@brands.GetId()"> Edit Store Info</a></li>
    }
  }
}
</ul>

<a href="/"> Go Back</a>
<a href="/brands/ClearAll">Delete All Brands!</a>
