<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/fight.js"></script>
    <title>"Fun" Fighters</title>
  </head>
  <body>

    <!-- Choose Fighter Menu -->

    <div id="chooseFighterMenu">
      <h1>Fight Setup</h1>
      <a href="/">Return Home</a><br>
      <div class="row">
        <div class="col-xs-6">
          <h2>Choose Fighter</h2>
          <select id="player1" name="player1">
            <option value="default">Choose Fighter</option>
            @{
              foreach(var fighter in Model){
                <option value="@fighter.GetId()">@fighter.GetName()</option>
              }
            }
          </select>
        </div>
        <div class="col-xs-6">
          <h2>Choose Opponent</h2>
          <select id="player2" name="player2">
            <option value="default">Choose Opponent</option>
            @{
              foreach(var fighter in Model){
                <option value="@fighter.GetId()">@fighter.GetName()</option>
              }
            }
          </select>
        </div>
        <button id="submitFightButton" type="submit">FIGHT!</button>
      </div>
    </div>

    <!--End Fight Menu -->
    <div id="endFightMenu">
      <h1>The winner is <span id="winner"></span>!</h1>
      <br>
      <a href="/">Return Home</a><br>
      <a href="/fight">Play Another Fight</a>
    </div>

    <!--Fight UI -->
    <!-- start player 1 -->
    <div id="fightUI" class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <h1 id="player1Name" class="fighterHeader"></h1>
        <div id="fighterLeft" class="fighterHeadshot"><img src="" id="player1Image"></div>
        <div class="fighterStats">
          <div class="row">
            <div class="col-xs-5">
              <span>HP: <span><span id="player1HpCurrent"></span><span> / <span id="player1HpMax"></span>
            </div>
            <div class="col-xs-5">
              <span>MP: <span><span id="player1MpCurrent"></span><span> / <span id="player1MpMax"></span>
            </div>
          </div>
          <div class="lowerStats">
            <div class="row">
              <div class="col-xs-2">
                <img src="../Content/UI/attack.png" title="amount of base damage dealt with melee attacks">
              </div>
              <div class="col-xs-2">
                <span id="player1Attack"></span>
              </div>
              <div class="col-xs-2">
                <img src="../Content/UI/speed.png" title="additional percentage to evade attack, and determines which fighter moves first">
              </div>
              <div class="col-xs-2">
                <span id="player1Speed"></span><span>%</span>
              </div>
            </div>
            <div class="row">
              <div class="accuracyContainer col-xs-2">
                <img src="../Content/UI/accuracy.png" title="additional accuracy percentage added to the base accuracy of moves">
              </div>
              <div class="col-xs-2">
                <span id="player1Accuracy"></span><span>%</span>
              </div>
              <div class="col-xs-2">
                <img src="../Content/UI/luck.png" title="the chance that a move will be critical, and perform twice as well">
              </div>
              <div class="col-xs-2">
                <span id="player1Luck"></span><span>%</span>
              </div>
            </div>
          </div>
        </div>
        <div id="moveContainer">
          <div id="jab" class="moveSelector" data-toggle="tooltip" title="1/2 ATTACK, 100% Base Accuracy">
            <h2>JAB</h2>
          </div>
          <div id="hook" class="moveSelector" data-toggle="tooltip" title="x1 ATTACK, 50% Base Accuracy">
            <h2>HOOK</h2>
          </div>
          <div id="uppercut" class="moveSelector" data-toggle="tooltip" title="x1.5 ATTACK, 20% Base Accuracy">
            <h2>UPPERCUT</h2>
          </div>
          <div id="block" class="moveSelector" data-toggle="tooltip" title="block 35% of incoming melee damage">
            <h2>BLOCK</h2>
          </div>
          <div id="blind" class="moveSelector" data-toggle="tooltip" title="lowers the enemy's accuracy by 10%, 80% Base Accuracy">
            <h2>BLIND - 1MP</h2>
          </div>
          <div id="lockon" class="moveSelector" data-toggle="tooltip" title="increases your accuracy and crit ratio by 20%">
            <h2>LOCKON - 2MP</h2>
          </div>
          <div id="burn" class="moveSelector" data-toggle="tooltip" title="burns the enemy, lowering their attack by 20% and hurting them every turn for 10% of their max HP, 80% Base Accuracy">
            <h2>BURN - 5MP</h2>
          </div>
          <div id="frost" class="moveSelector" data-toggle="tooltip" title="damages 20% of the enemy's current HP, and decreases thier speed by 20%, 80% Base Accuracy">
            <h2>FROST - 3MP</h2>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <h1 id="vsHeader">VS</h1>
        <div id="gameLog"><ul id="gameLogList"></ul></div>
      </div>
      <!-- start player 2 -->
      <div class="col-xs-3">
        <h1 id="player2Name" class="fighterHeader"></h1>
        <div id="fighterLeft" class="fighterHeadshot"><img src="" id="player2Image"></div>
        <div class="fighterStats">
          <div class="row">
            <div class="col-xs-5">
              <span>HP: <span><span id="player2HpCurrent"></span><span> / <span id="player2HpMax"></span>
            </div>
            <div class="col-xs-5">
              <span>MP: <span><span id="player2MpCurrent"></span><span> / <span id="player2MpMax"></span>
            </div>
          </div>
          <div class="lowerStats">
            <div class="row">
              <div class="col-xs-2">
                <img src="../Content/UI/attack.png" title="amount of base damage dealt with melee attacks">
              </div>
              <div class="col-xs-2">
                <span id="player2Attack"></span>
              </div>
              <div class="col-xs-2">
                <img src="../Content/UI/speed.png" title="additional percentage to evade attack, and determines which fighter moves first">
              </div>
              <div class="col-xs-2">
                <span id="player2Speed"></span><span>%</span>
              </div>
            </div>
            <div class="row">
              <div class="accuracyContainer col-xs-2">
                <img src="../Content/UI/accuracy.png" title="additional percentage added to the base accuracy of moves">
              </div>
              <div class="col-xs-2">
                <span id="player2Accuracy"></span><span>%</span>
              </div>
              <div class="col-xs-2">
                <img src="../Content/UI/luck.png" title="the chance that a move will be critical, and perform twice as well">
              </div>
              <div class="col-xs-2">
                <span id="player2Luck"></span><span>%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </body>
</html>
