<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/scripts.js"></script>
    <title>FIGHTERSSSSS</title>
  </head>
  <body>
    <h1>Check the console log</h1>
  </body>
</html>
