<h1>Athens Shoe Supply</h1>

<a href="/stores">View All of the Stores</a>
<a href="/brands">View All Brands</a>


<h3>Add a Store</h3>
<form action="/stores" method="post">
<p>Store Name:</p>
<input type="text" name="store-name">
<br><br>
<button type="submit">Add Store</button>
</form>

<h3>Add a brand</h3>
<form action="/brands" method="post">
<p>Brand Name:</p>
<input type="text" name="brand-name">
<br><br>
<button type="submit">Add Brand</button>
</form>
