<!DOCTYPE html>
<html>
  <head>
    <link href="../Content/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../Content/css/styles.css" rel="stylesheet">
    <title>"Fun" Fighters</title>
  </head>
  <h1>"FUN" FIGHTERS</h1><br>
  <a class="btn btn-primary" href="/add_fighter">ADD FIGHTER</a>
  <form action="/fight">
      <input class="btn btn-danger" type="submit" value="FIGHT!">
  </form><br>
  <form action="/leaderboard">
      <input class="btn btn-warning" type="submit" value="LEADERBOARD">
  </form>
</html>
